<div class="title-bar">
    <h2>Chat</h2>
</div>
<div class="main-content chat">
    <div class="chat-window">
        <ul>
            <li ng-repeat="message in chat.currentMessages"><b>{{ message.sender.userName + ': ' }}</b>{{ message.content }}</li>
        </ul>
        <form ng-submit="chat.sendMessage()">
            <input ng-model="chat.userMessage" required />
        </form>
    </div>
    <div class="chat-options-list">
        <select ng-model="chat.recipient" ng-click="chat.updateChatSettings()" ng-options="user.userName for user in chat.allUsers" size="8"></select>
    </div>
    <script src="/socket.io/socket.io.js"></script>
</div>