<div class="title-bar">
    <h2>Categories</h2>
    <span>
        <a href="/app/categories/new" class="main-button green">New Category</a>
    </span>
</div>
<form class="search-bar"><input type="text" placeholder="Search Categories" ng-model="query" required /></form>
<div class="main-content" id="page-with-search-bar">
    <div class="main-controls-wrapper">
        <div class="controls">
            <select>
                <option>All Tickets</option>
                <option>Open Tickets Only</option>
                <option>Closed Tickets Only</option>
            </select>
            <select>
                <option>All Categories</option>
            </select>
            <select>
                <option>Newest First</option>
                <option>Oldest First</option>
                <option>Most Important First</option>
                <option>Least Important First</option>
            </select>
        </div>
    </div>
    <ul class="main-list">
        <li ng-repeat="category in vm.categories | orderBy:'-id' | searchCategories:query">
            <category-list-item category="category" />
        </li>
    </ul>
</div>