<div class="title-bar">
    <h2>New Category</h2>
    <span>
        <a ng-click="vm.createNewCategory()" class="main-button green">Create Category</a>
    </span>
</div>
<div class="main-content">
    <form class="content">
        <input placeholder="Category Name..." type="text" ng-model="vm.name" required />
        <!--<hr />
        <div class="meta-data">
            <p>Date Created: <span class="default">{{ vm.category.dateCreated | date:"MMMM d ', ' yyyy ' at ' h:mm a" }}</span></p>
            <p>Number of Tickets: <span class="default">{{ vm.category.numberOfTickets }}</span></p>
        </div>-->
    </form>
</div>