<div class="title-bar">
    <h2>New Ticket</h2>
    <span>
        <a ng-click="vm.createNewTicket()" class="main-button green">Create Ticket</a>
    </span>
</div>
<div class="main-content">
    <form class="content">
        <input placeholder="Ticket Title..." type="text" ng-model="vm.title" required />
        <hr />
        <div class="meta-data">
            <p>Category: <select ng-model="vm.category" ng-options="category as category.name for category in vm.categories" required></select></p>
            <p>Priority: <select ng-model="vm.priority" required><option>Low</option><option selected>Medium</option><option>High</option></select></p>
        </div>
        <div class="object-content">
            <p><textarea placeholder="Ticket Details..." ng-model="vm.content" required></textarea></p>
        </div>
    </form>
</div>