<div class="title-bar">
    <h2>Tickets</h2>
    <span>
        <a href="/app/tickets/new" class="main-button green">New Ticket</a>
    </span>
</div>
<form class="search-bar"><input type="text" placeholder="Search Tickets" ng-model="query" required /></form>
<div class="main-content" id="page-with-search-bar">
    <!--<div class="main-controls-wrapper">
        <div class="controls">
            <select ng-model="vm.values.status" ng-options="status as status.name for status in vm.options.status track by status.value"></select>
            <select ng-model="vm.values.categories" ng-options="category as category.name for category in vm.options.categories track by category.value"></select>
            <select ng-model="vm.values.sort" ng-options="sort as sort.name for sort in vm.options.sort track by sort.value"></select>
        </div>
    </div>-->
    <ul class="main-list">
        <li class="nga-default nga-stagger nga-fade" ng-repeat="ticket in vm.tickets | orderBy:'-id' | searchTickets:query">
            <ticket-list-item ticket="ticket" />
        </li>
    </ul>
</div>