<div class="title-bar">
    <h2>{{ vm.recipient.userName }}</h2>
</div>
<div class="main-content chat">
    <div class="chat-window">
        <ul id="messageBox">
            <li ng-repeat="message in vm.messages track by $index"><b>{{ message.sender + ': ' }}</b>{{ message.content }}</li>
        </ul>
        <form ng-submit="vm.sendMessage()">
            <input placeholder="Type your message here..."  ng-model="vm.message" required />
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
</div>