<div class="title-bar">
    <h2>User Details</h2>
    <a ng-click="vm.editUser()" class="main-button green">Save Changes</a>
</div>
<div class="main-content">
    <form class="content">
        <input type="text" ng-model="vm.user.firstName" required />
        <input type="text" ng-model="vm.user.lastName" required />
        <hr />
        <div class="meta-data">
            <p>Email: <input placeholder="Update Email Address (Optional)" type="text" ng-model="vm.newEmail" /></p>
            <p>Password: <input placeholder="Update Password (Optional)" type="text" ng-model="vm.newPassword" /></p>
        </div>
    </form>
</div>