<div class="title-bar">
    <h2>New User</h2>
    <span>
        <a ng-click="vm.createNewUser()" class="main-button green">Create User</a>
    </span>
</div>
<div class="main-content">
    <form class="content">
        <input placeholder="First Name..." type="text" ng-model="vm.user.firstName" required />
        <input placeholder="Last Name..." type="text" ng-model="vm.user.lastName" required />
        <hr />
        <div class="meta-data">
            <input placeholder="Email Address..." type="text" ng-model="vm.user.email" />
            <input placeholder="Password..." type="text" ng-model="vm.user.password" />
        </div>
    </form>
</div>