<div class="title-bar">
    <h2>Manage Users</h2>
    <a href="/app/users/new" ng-show="main.userAccount.accountType === 'business'" class="main-button green">New User</a>
</div>
<form class="search-bar"><input type="text" placeholder="Search Users" ng-model="query" required /></form>
<div class="main-content" id="page-with-search-bar">
    <div class="main-controls-wrapper list-controls">
        <form class="main-controls">
            <h3>Sorting Options</h3>
            <hr />
            <div class="controls">
                <select id="primary-sorting-option">
                    <option selected>Sorting Options</option>
                </select>
                <select id="secondary-sorting-option">
                    <option selected>Value Options</option>
                </select>
                <button class="double">Add</button><button class="double">Remove</button>
            </div>
            <div class="list">
                <select size="8"></select>
            </div>
        </form>
    </div>
    <ul class="main-list">
        <li ng-repeat="user in vm.users | orderBy:'-id' | searchUsers:query">
            <user-list-item user="user" />
        </li>
    </ul>
</div>