/*****************************************
    Header
*****************************************/

header {
    overflow: auto;
    background: $primary-color;
    margin: 0;
    padding: 10px 5px;
    text-align: center;

    .header-logo {
        padding: 0 0 15px 0;

        img {
            vertical-align: middle;
            height: 29px;
            margin: 0;
            padding: 0;
        }
    }

    span {
        a {
            padding: 5px;
            margin: 15px 0 5px 0;
            max-width: 100%;
            width: 100%;
            font-size: 12px;
            font-weight: 600;
            display: block;
            color: $primary-color;
            text-transform: uppercase;
            background-color: #fff;
            border-radius: 5px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

/*****************************************
    EXTRA Small Breakpoint
*****************************************/
@media screen and (min-width: 400px) {
}

/*****************************************
    Small Breakpoint
*****************************************/
@media screen and (min-width: 540px) {
    header {

        .header-logo {
            float: left;
            padding: 0;
        }

        span {
            float: right;

            a {
                padding: 4px 25px;
                display: inline-block;
                margin: 0 0 0 15px;
                width: auto;
            }
        }
    }
}

/*****************************************
    Medium Breakpoint
*****************************************/
@media screen and (min-width: 720px) {
    header {
        padding: 20px;
    }
}

/*****************************************
    Large Breakpoint
*****************************************/
@media screen and (min-width: 960px) {
}
