/*****************************************
    Variables
*****************************************/
/*$primary-color: #008A2E;
$secondary-color: #009933;*/

/*$primary-color: #00292e;
$secondary-color: #005661;*/

$primary-color: #003152;
$secondary-color: #003D66;

$dark-green: #0B702E;
$light-gray: #D6D6D6;
$dark-gray: #424242;
$black: #000;
$link-color: #009ACD;
$hover-link-color: #0EBFE9;
$footer-text-color: #FCFCFC;

// Ticket Directive Colors

$low-priority: #19B919;
$medium-priority: #FFFF00;
$high-priority: #E60000;

$green-status: green;
$red-status: red;