<div class="title-bar">
    <h2>Manage Accounts</h2>
    <span>
        <a href="/app/accounts/new" ng-show="main.account.admin" class="main-button green">New Account</a>
    </span>
</div>
<form class="search-bar"><input type="text" placeholder="Search Accounts" ng-model="query" required /></form>
<div class="main-content" id="page-with-search-bar">
    <div class="main-controls-wrapper">
        <div class="controls">
            <select>
                <option>All Tickets</option>
                <option>Open Tickets Only</option>
                <option>Closed Tickets Only</option>
            </select>
            <select>
                <option>All Categories</option>
            </select>
            <select>
                <option>Newest First</option>
                <option>Oldest First</option>
                <option>Most Important First</option>
                <option>Least Important First</option>
            </select>
        </div>
    </div>
    <ul class="main-list">
        <li class="nga-default nga-stagger nga-fade" ng-repeat="account in vm.accounts | orderBy:'id' | searchAccounts:query">
            <account-list-item account="account" />
        </li>
    </ul>
</div>