/*****************************************
    Main Controls for Sorting
*****************************************/

.app-content {

    .main-controls-wrapper {
        padding-bottom: 15px;


        .controls {
            padding: 10px;

            select {
                font-weight: 600;
                width: 100%;
                padding: 7px;
                margin-bottom: 15px;
            }
        }
    }
}

/*****************************************
    Small Breakpoint
*****************************************/
@media screen and (min-width: 540px) {
}

/*****************************************
    Medium Breakpoint
*****************************************/
@media screen and (min-width: 720px) {
}

/*****************************************
    Large Breakpoint
*****************************************/
@media screen and (min-width: 960px) {

    .app-content {

        .main-controls-wrapper {

            .controls {
                padding: 0;

                select {
                    width: 200px;
                    margin: 0 25px 0 0;
                }
            }
        }
    }
}