.chat {

    .chat-window {
        border: 2px solid #bbb;
        width: 100%;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: calc(100% - 237px);
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                margin: 0;
                padding: 10px;

                &:nth-child(even) {
                    background-color: #fff;
                }

                &:nth-child(odd) {
                    background-color: #eee;
                }
            }
        }

        form {
            padding: 10px;
            background-color: #eee;
            border-top: 2px solid #bbb;

            input {
                margin: 0;
                border: 2px solid #bbb;
                border-radius: 5px;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}


/*****************************************
    Small Breakpoint
*****************************************/
@media screen and (min-width: 540px) {
}

/*****************************************
    Medium Breakpoint
*****************************************/
@media screen and (min-width: 720px) {
}

/*****************************************
    Large Breakpoint
*****************************************/
@media screen and (min-width: 960px) {
}

/*****************************************
    EXTRA Large Breakpoint
*****************************************/
@media screen and (min-width: 1400px) {
    .chat {

        .chat-window {

            ul {

                li {
                }
            }

            form {
            }
        }
    }
}
