//Primary website colors
$primary-color: #dddddd;
$secondary-color: #171717;
$shadow-color: #343434;


//Text, links, etc. colors
$text-color: #dddddd;
$link-color: #de8642;


//#b73460

//Tiling color scheme
$tile-background: #171717;
$tile-internal: #505050;
$highlight: #272727;
$secondary-internal: #f97F20

//Gradient and detail design colors
//$sky0: $primary-color;
//$sky1: #171717;
//$sun0: antiquewhite;
//$sun1: #e39a1e;
//$sun2: #ffcc33;
//$sun3: #ff6347;
//$sun4: #cc3b25;